<template name="activity">

    <h3><i class="fa fa-times js-close-sidepanel" aria-hidden="true"></i>Activity</h3>
    <ul class="notifications-listing">
        <li>
            <a href="#">
                <div class="nt-user">
                    <img src="http://cdn0.peopleimages.com/picture/1324707-theres-just-so-many-wonderful-things-to-see-fit_400_400.jpg">
                </div>
                <div class="nt-info">
                    <div class="nt-about"><span class="strong">K Jones</span> commented on your trip to india</div>
                    <span class="nt-message">That trip looks amazing!!! I want to go!!!</span>
                    <span class="nt-date">1 day ago</span>
                </div>
                <div class="nt-right">
                    <img src="https://instagram.fmex1-1.fna.fbcdn.net/t51.2885-15/e35/14099495_280352162347971_1030285355_n.jpg?ig_cache_key=MTMyMTczOTA4ODgyMzE5Nzg0NA%3D%3D.2">
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nt-user">
                    <img src="http://cdn0.peopleimages.com/picture/1324707-theres-just-so-many-wonderful-things-to-see-fit_400_400.jpg">
                </div>
                <div class="nt-info">
                    <div class="nt-about"><span class="strong">K Jones</span> is now following you.</div>
                    <span class="nt-date">1 day ago</span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nt-user">
                    <img src="http://cdn2.peopleimages.com/picture/374705-exploring-an-aquatic-paradise-together-fit_400_400.jpg">
                </div>
                <div class="nt-info">
                    <div class="nt-about"><span class="strong">B Smith</span> likes your trip</div>
                    <span class="nt-date">Mar 31</span>
                </div>
                <div class="nt-right">
                    <img src="http://cdn1.peopleimages.com/picture/1231404-vacation-memories-that-will-last-a-lifetime-fit_400_400.jpg">
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="nt-user">
                    <img src="http://cdn0.peopleimages.com/picture/1256331-leave-nothing-but-footprints-take-nothing-but-pictures-fit_400_400.jpg">
                </div>
                <div class="nt-info">
                    <div class="nt-about"><span class="strong">You</span> earned <span class="strong">1000 points</span> for creating a trip. Keep up the good work!!</div>
                    <span class="nt-date">Feb 2</span>
                </div>
                <div class="nt-right">
                    <img src="https://instagram.fmex1-1.fna.fbcdn.net/t51.2885-15/e35/14099495_280352162347971_1030285355_n.jpg?ig_cache_key=MTMyMTczOTA4ODgyMzE5Nzg0NA%3D%3D.2">
                </div>
            </a>
        </li>
    </ul>
</template>

