<template name="userNotifications">
    {{>nav title='Notifications' black=true}}
    <div class="page-user-notifications">

        <div class="notifications-tab-container layout vertical" >
            <div class="btns-group notifications-tabs">
                <a data-tab-template="activity" class="btn-tertiary js-tab-trigger flex {{#if isActiveTab 'activity'}}active{{else}}no-state{{/if}}">Activity</a>
                <a data-tab-template="inbox" class="btn-tertiary js-tab-trigger flex {{#if isActiveTab 'inbox'}}active{{else}}no-state{{/if}}">Inbox</a>
            </div>
            <div class="flex">
                {{>activeTab tabKey=tabKey}}
            </div>            
        </div>
    </div>

    {{>navTabs}}
</template>