<template name="profile">
	{{> header}}
	{{> sidePanel}}

	{{#HammerTouchArea configureCallback=configureHammer gestureMap=profileGestures}}
		<div class="page-view-profile {{activeTabClass}}">
			<nav class="transparent-nav">
			  <div class="nav-group right">
			      <a href="{{pathFor 'profileSettings' _id=currentUserId}}" class="nav-item js-edit-user-settings"><i class="icon ion-ios-gear"></i></a>
			  </div>
			</nav>

			<div class="profile-brief layout vertical center-center">
				
				<div class="profile-brief-overlay"></div>
				
				<h1>JACK KEROUAC</h1>
				<hr>
				<h2>On the road</h2>

				<!--<img src="http://cdn0.peopleimages.com/picture/1256331-leave-nothing-but-footprints-take-nothing-but-pictures-fit_400_400.jpg" class="profile-img" alt="User">-->
				<img src="https://s-media-cache-ak0.pinimg.com/236x/81/63/e4/8163e4d1615e6bd3a130cd50a786f14e.jpg" class="profile-img" alt="User">

				<ul class="user-stats layout horizontal wrap">
					<li class="user-followers">
						<a href="{{pathFor 'profileFollowers' _id=currentUserId}}" title="">
							<span class="number">245</span> Followers
						</a>
					</li>
					<li class="user-following">
						<a href="{{pathFor 'profileFollowing' _id=currentUserId}}" title="">
							<span class="number">127</span> Following
						</a>
					</li>
					<li class="user-points">
						<a href="{{pathFor 'profileStats' _id=currentUserId}}" title="">
							<span class="number">1,139</span> Points
						</a>
					</li>
				</ul>

			  	<a href="{{pathFor 'profileEdit' _id=currentUserId}}" class="edit-profile">
			  		Edit Profile
			  	</a>

			  	<div class="user-cont">CONTRIBUTOR</div>

			</div>

		  	<div class="btns-group profile-tabs">
		    	<a class="btn-tertiary {{#if isActiveTab 'tab-1'}}active{{else}}no-state{{/if}} js-show-tab-1">Stories</a>
		    	<a class="btn-tertiary {{#if isActiveTab 'tab-2'}}active{{else}}no-state{{/if}} js-show-tab-2">Drafts</a>
		    	<a class="btn-tertiary {{#if isActiveTab 'tab-3'}}active{{else}}no-state{{/if}} js-show-tab-3">Itineraries</a>
		    	<a class="btn-tertiary {{#if isActiveTab 'tab-4'}}active{{else}}no-state{{/if}} js-show-tab-4">Bookmarks</a>
				</div>
				<div class="content-scrollable static-nav tab-1-scrollable">	
					<ul>
						<li>Do one</li>
					</ul>
				</div>
				<div class="content-scrollable static-nav tab-2-scrollable">
				<ul>
					<li>Do one</li>
				</ul>
				</div>
				<div class="content-scrollable static-nav tab-3-scrollable">
				<ul>
					<li>Do one</li>
				</ul>
				</div>
				<div class="content-scrollable static-nav tab-4-scrollable">
				<ul>
					<li>Do one</li>
				</ul>
			</div>
		</div>
	{{/HammerTouchArea}}
	<div class="profile-nav"> 
  		{{>navTabs}}
  	</div>
</template>

<template name="postItem">
  <a class="profile-list-item" href="">
    {{#with post}}
      <span class="">
        <span class="title">{{title}}</span>
        <span class="desc">{{description}}</span>
      </span>
      {{> coverImage id=coverImage}}
    {{/with}}
  </a>
</template>

<template name="coverImage">
	<!-- {{#with imageFile.with}} -->
	  <!-- <img src="{{link}}" alt="{{name}}" /> -->
	<!-- {{else}} -->
	  <!-- Loading Image... -->
	<!-- <p>{{fileURL fileRef}}</p> -->
	<img src="{{fileRef.link}}" alt="{{fileRef.name}}" style="width: 100vw;" />
	<!-- <img src="{{fileURL imageFile}}" /> -->
</template>