<template name="comments">
    {{>nav title="Comments" back="true" black=true}}
    <div class="profile-comments">
        <!-- Comments (Temporary templating placeholder info) -->
        <div class="content-scrollable static-nav tab-1-scrollable">
            <ul class="notifications-listing ">
                <li>
                    <div class="nt">
                        <div class="nt-user">
                            <img src="http://cdn0.peopleimages.com/picture/1324707-theres-just-so-many-wonderful-things-to-see-fit_400_400.jpg">
                        </div>
                        <div class="nt-info">
                            <div class="nt-inbox strong">K Jones</div>
                            <div class="nt-desc">That looks pretty sweet! I want to go too!</div>
                        </div>
                        <div class="nt-right">
                            <span class="nt-date">Sep 22</span>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="nt">
                        <div class="nt-user">
                            <img src="http://cdn0.peopleimages.com/picture/1256331-leave-nothing-but-footprints-take-nothing-but-pictures-fit_400_400.jpg">
                        </div>
                        <div class="nt-info">
                            <div class="nt-inbox strong">Optimus Prime</div>
                            <div class="nt-desc">That looks amazing!</div>
                        </div>
                        <div class="nt-right">
                            <span class="nt-date">Sep 18</span>
                        </div>
                    </div>
                </li>
            </ul>

        </div>

        <div class="message-input">
          <input name="message" placeholder="Type your message here...">
          <button type="submit" class="messageSubmit">Send</button>
        </div>
    </div>

</template>