<template name="story">
	<div class="page-view-story {{activeTabClass}}">

		<div class="story-brief layout vertical center-center">
			<div class="hero-overlay-down-up"></div>
				<div class="hero-title">THE SHOP KEEPER</div>
				<hr>
				<div class="hero-subtitle">Trip to Zimbabwe</div>
				<div class="story-by">
					<img src="https://s-media-cache-ak0.pinimg.com/236x/81/63/e4/8163e4d1615e6bd3a130cd50a786f14e.jpg" title="Author"> By Jack Kerouac | Oct 17th 2016
				</div>
		</div>

		<div class="story-tab-container" >
		  	<div class="btns-group-flexless story-tabs layout horizontal center-center">
		    	<a data-tab-template="storyStory" class="btn-tertiary js-tab-trigger {{#if isActiveTab 'storyStory'}}active{{else}}no-state{{/if}}">Story</a>
		    	<a data-tab-template="storyItinerary" class="btn-tertiary js-tab-trigger {{#if isActiveTab 'storyItinerary'}}active{{else}}no-state{{/if}}">Itinerary</a>
			</div>
			<div class="flex">
				{{>activeTab tabKey=tabKey}}
			</div>
		</div>

	</div>

	{{>navTabs}}

</template>


<template name="storyStory">
	<div class="story-container">

		<h1>It Always Rains on the Plains</h1>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum. <strong>Some bold text formatting</strong>. condimentum turpis, eget accumsan velit lobortis eget. Aenean condimentum, magna consectetur ullamcorper iaculis, ex enim mattis orci, id venenatis massa eros vel lorem. Suspendisse acit. <a href="#">Link formatting</a>. Aliquam auctor non nulla et euismod. Cras at euismod purus, ac egestas tellus. Nulla facilisi. Nunc quis eros non neque efficitur hendrerit. Proin vitae ornare nisl. Pellentesque placerat ex urna, id eleifend mi pharetra non. Nam pharetra pulvinar sapien nec blandit. Aliquam luctus augue sed facilisis laoreet. Vestibulum hendrerit nunc mi, sed ultricies turpis vestibulum vel. Maecenas ante risus, condimentum imperdiet tortor a, porttitor volutpat tellus. Phasellus tristique placerat tellus, ullamcorper tristique tellus bibendum a. Integer ligula quam, consectetur ac turpis ac, rutrum posuere sapien.</p>

		<figure>
			<img src="/img/story-temp/video1.jpg" 
			alt="Beatiful Sunset Video">
			<figcaption>
				Beatiful Sunset Video
			</figcaption>
		</figure>

		<figure>
			<img src="/img/story-temp/video2.jpg" 
			alt="Thirsty Kid">
			<figcaption>
				Thirsty Kid
			</figcaption>
		</figure>

		<figure>
			<img src="/img/story-temp/story1.jpg" 
			alt="Cute Kid Video">
			<figcaption>
				Cute Kid Video
			</figcaption>
		</figure>

		<figure>
			<img src="/img/story-temp/story2.jpg" 
			alt="The Plains">
			<figcaption>
				The Plains
			</figcaption>
		</figure>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam condimentum condimentum turpis, eget accumsan velit lobortis eget. Aenean condimentum, magna consectetur ullamcorper iaculis, ex enim mattis orci, id venenatis massa eros vel lorem. Suspendisse ac finibus quam, ut mattis velit. Aliquam auctor non nulla et euismod. Cras at euismod purus, ac egestas tellus. Nulla facilisi. Nunc quis eros non neque efficitur hendrerit. Proin vitae ornare nisl. Pellentesque placerat ex urna, id eleifend mi pharetra non. Nam pharetra pulvinar sapien nec blandit. Aliquam luctus augue sed facilisis laoreet. Vestibulum hendrerit nunc mi, sed ultricies turpis vestibulum vel. Maecenas ante risus, condimentum imperdiet tortor a, porttitor volutpat tellus. Phasellus tristique placerat tellus, ullamcorper tristique tellus bibendum a. Integer ligula quam, consectetur ac turpis ac, rutrum posuere sapien.</p>

		<figure>
			<img src="/img/story-temp/slideshow.jpg" 
			alt="My Safari Slideshow">
			<figcaption>
				My Safari Slideshow
			</figcaption>
		</figure>

		<hr>

<!-- 		<h2>Details</h2>

		<ul>
			<li class="detail-location">
				<div class="detail-title">Location:</div>
				<div class="detail-desc">Zimbabwe</div>
			</li>
			<li class="detail-price">
				<div class="detail-title">Price:</div>
				<div class="detail-desc">$</div>
			</li>
			<li class="detail-link">
				<div class="detail-title">Link:</div>
				<div class="detail-desc"><a href="http://www.discoverzimbabwe.com" target="_blank">www.discoverzimbabwe.com</a></div>
			</li>
			<li class="detail-hashtag">
				<div class="detail-desc"><a href="#">#TheLionKing</a></div>
			</li>
			<li class="detail-tops">
				<div class="detail-title">Travel Tips:</div>
				<div class="detail-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas at tempus nisl. Nulla vitae sapien egestas, commodo urna a, dictum odio. Donec tincidunt ut elit et placerat. Quisque pellentesque imperdiet felis eu sodales. Donec sagittis sapien in aliquet fringilla. Donec malesuada odio non mauris hendrerit, eget tempor ex elementum. Integer feugiat diam quis lectus vestibulum accumsan. Curabitur molestie ex tellus, sit amet tempor tortor facilisis sed. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean a risus sit amet magna luctus feugiat a id tellus.</div>
			</li>
		</ul>

		<hr> -->

	</div>
</template>


<template name="storyItinerary">
	Story itinerary here
</template>