<template name="globalSearch">
	{{#if activeGlobalSearch}}
		<div class="page-global-search bg-dark">
			<div class="tab-container tab-global-search layout vertical" >
		  	<div class="btns-group tabs">
		    	<a data-tab-template="searchStories" class="btn-tertiary js-tab-trigger {{#if isActiveTab 'searchStories'}}active{{else}}no-state{{/if}}">Stories</a>
		    	<a data-tab-template="searchPeople" class="btn-tertiary js-tab-trigger {{#if isActiveTab 'searchPeople'}}active{{else}}no-state{{/if}}">People</a>
				</div>
				<div class="flex">
					{{>activeTab tabKey=tabKey}}
				</div>
			</div>
		</div>			
	{{/if}}
</template>

<template name="searchStories">
  {{#if showMobileNav}}
    <main class="container explore-stories-search">
      {{>searchResult}}
      {{>searchResult}}
      {{>searchResult}}
      {{>searchResult}}
    </main>
  {{else}}
    {{>searchResults}}
  {{/if}}
</template>

<template name="searchPeople">
  {{#if showMobileNav}}
    <main class="container explore-stories-search">
      {{>searchResult}}
      {{>searchResult}}
      {{>searchResult}}
      {{>searchResult}}
    </main>
  {{else}}
    {{>searchResults}}
  {{/if}}
</template>

<template name="searchResult">
  <a href="{{pathFor 'searchResults'}}" class="js-search-result">
    <div class="result layout horizontal wrap justified">
      <div class="rs-thumbnail">
        <img src="https://scontent-lga3-1.cdninstagram.com/t51.2885-15/sh0.08/e35/p750x750/14597381_205106936596986_6873403190771974144_n.jpg?ig_cache_key=MTM4MTU4MDI2NTAzNDY0MTI2Nw%3D%3D.2" alt="Story search">
      </div>
      <div class="rs-title">Japan</div>
      <div class="rs-stories">3 stories</div>
    </div>
  </a>
</template>