.page-global-search {
  .position(fixed, 0,0,auto,0,auto,auto);
  min-height: 100vh;
  background: black;
  .background-image(
    url('/img/bg/login_blur_800x800.jpg')
  );
  background-position: center;
  background-size: cover;
  padding-top: 8rem;
  .md-and-down ({ padding-top: 77px; });


  .tabs {
  	background:transparent;
  }

	.js-destroy-search {
	  .md-and-down ({
			  position: fixed;
	      top: 33px;
	      right: 1rem;
	      color: white;
	  });
  }
}