<template name="navTabs">
{{navTabSelection}}
	  <div class="btns-group nav-tabs">
	    <a href="{{pathFor 'feed'}}" class="btn-nav js-show-tab-1 {{#if currentRoute 'feed'}}active{{else}}inactive{{/if}}">
	      <i class="icon ion-ios-home-outline js-show-tab-1"></i>
	    </a>
	    <a  href="{{pathFor 'explore'}}" class="btn-nav js-show-tab-2 {{#if currentRoute 'explore'}}active{{else}}inactive{{/if}}">
	      <i class="icon ion-ios-search js-show-tab-1"></i>
	    </a>
	    <a  href="{{pathFor 'createPost'}}" class="btn-nav js-show-tab-3 {{#if currentRoute 'createPost'}}active{{else}}inactive{{/if}}">
	      <i class="icon ion-ios-plus-empty js-show-tab-1"></i>
	    </a>	    
			<a  href="{{pathFor 'userNotifications'}}" class="btn-nav js-show-tab-4 {{#if currentRoute 'userNotifications'}}active{{else}}inactive{{/if}}">
	      <i class="icon ion-ios-bolt-outline js-show-tab-1"></i>
	    </a> 
	    <a  href="{{pathFor 'profile'}}" class="btn-nav js-show-tab-5 {{#if currentRoute 'profile'}}active{{else}}inactive{{/if}}">
	      <i class="icon ion-ios-person-outline js-show-tab-1"></i>
	    </a>                
	  </div>
</template>