<template name="footer">
  <footer class="layout horizontal flex justified">
    <ul class="footer-links">
      <li><a href="#">About Us</a></li>
      <li><a href="#">Terms of Service</a></li>
      <li><a href="#">Contact Us</a></li>
    </ul>
    <ul class="footer-social">
      <li>
        <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      </li>
    </ul>
  </footer>
</template>