/* Colors
 * ---------------------------------------------------------------------------------- */

// Core
@color-primary: #ed1e2e; 
@color-secondary: @color-well; //
@color-tertiary: @color-medium-well; //
@color-ancillary: #1c3f53; //deep navy (nav heading, menu icon)
@color-complementary: #000; //
@color-primary-bold: #ca0010;

// Social Colors
@color-twitter: #46c8f5;

// Alert
@color-negative: #ed1e2e; //error, alert
@color-note: #f6fccf;

// Greyscale
@color-empty: white;
@color-raw: #eeeeee;
@color-raw-alt: #f2f2f2;
@color-raw-semi: #e0e0e0;
@color-rare: #bdbdbd;
@color-medium-rare: #9e9e9e;
@color-medium: #616161;
@color-medium-well: #757575;
@color-well: #1a1c21;
@color-full: black;
@color-border: #d9d9d9;
@color-line: #dedede;
@light-border: #d7d7d7;

@light-icon-color: #bdbdbd;
@light-background-color: #eeeeee;
@dark-background-color: #1a1c21;
@super-light-background: #efefef;

@medium-grey-text: #1a1c21;
@medium-grey-text-alt: #9e9e9e;
@darktab: #1a1c21;

@warning: @color-primary;

@twitter: #5ea9dd;
@facebook: #3b5998;

@dark-half-opacity: rgba(26, 28, 33, 0.5);
@dark-eight-opacity: rgba(26, 28, 33, 0.8);

/* Spacing
 * Standard measures and spaces around the platform. Vars in process.
 * ---------------------------------------------------------------------------------- */
@bottom-story: 48px;
@desktop-icon: 40px;
@desktop-icon-big: 52px;
@desktop-icon-mini: 32px;
@left-story: 16px;
@mini-padding: 8px;
@small-padding: 20px;
@medium-padding: 32px;
@small-side-margin: 0 32px;
@small-story-padding: 48px 32px 32px;
