.page-explore {
  .position(absolute, 0,0,auto,0,auto,auto);
  min-height: 200vh;
  padding-top: 4.5rem;
  .md-and-down ({ padding-top: 0; });

  .search-container {
    position: relative;
    display: block;
    margin: 0 1rem;
    width: 70%;

    .search-input{
    background: #1a1c21;
    color: white;
    text-align: center;
    margin: 2rem 1rem;
    }
  }

  .category-container {
    .category-group {
      display: block;
      margin: 1rem 1rem;

      .group-description {
        .title {
            .type-bold();
            color: white;
            margin: 1rem;
            font-size: 1rem;
            text-transform: uppercase;
        }

      }

      .group-images {
        .image-container {
          min-height: 130px;
          margin: 0px 5px;

          .image {  
            height: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position-x: center;

          }

          .title {
            .type-bold();
            color: white;
            font-size: 16px;
            color: white;
            margin-top: -4.5rem;
            max-height: 4rem;
            margin-left: 1rem;
            margin-right: 1rem;
          }
        }
      }
    }
  }


  .search-inactive {
    background-color: #424242;
    opacity: 0.6;
    text-align: center;

    margin: 20px auto 20px;
    border-radius: 5px;
    border: 0px;
    .type-bold();
    color: white;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 10px;
    width: 85%;
  }

  .search-inactive  i {
      font-size: 15px;
      margin-left: -5px;
      margin-right: 5px;
  }




  .btns-group [class*="btn-"] {
      -webkit-box-flex: 1;
      -moz-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1;
  }

  .js-cancel-search {
    margin-left: -90px;
  }
}

.explore-nav .nav-tabs{
    display: none;
    .md-and-down({ display: flex; });
}