// General non-mobile styling

.container {
	height: 100%;
	margin: 0 auto;
	padding: 0 15px;
	.lg({ width: 1170px; });
	.md-and-down({ width: 100%; });
  .xs-and-up({ display:block; });
  .xs-and-down({ display:none; });
} 

* {
	margin: 0;
	padding: 0;
}

.cover{
	.position(absolute, 0, auto, 0, auto, 100%, 100%);
	display: block;
	z-index: 1000;
	visibility: hidden; 
	opacity: 0; 
	background: rgba(0, 0, 0, 0.5);
}

.side-panel {
	.position(fixed, 0, 0, auto, auto, 36rem, 100%);
	display: block;
	z-index: 99999;
	padding: 0;
	overflow: auto;
	transform: translateX(100%);
	background: @color-empty;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}