// Desktop header style definition
header{
	background: @color-full;
	.position(fixed, 0, 0, auto, 0, 100%, 4.5rem);
	.xs-and-down({ display:none; });
	.logo img{
		width: 12rem;
		padding: 1.3rem;
	}
}