@-webkit-keyframes spin {
  0% { .transform(rotate(0deg)); }
  100% { .transform(rotate(359deg)); }
}
@keyframes spin {
  0% { .transform(rotate(0deg)); }
  100% { .transform(rotate(359deg)); }
}
.notification-btn() {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}


// Notification message (e.g., when unable to connect)
.notifications {
  .position(absolute, auto, 0, 0, 0, 100%);
  z-index: 1;

  .notification {
    .font-s2;
    background: rgba(51,51,51, .95);
    color: @color-empty;
    position: relative;
    width: 100%;

    &:nth-child(odd) {
      background: rgba(45,45,45, .95);

      .btn-primary {
        background: rgba(216,62,20, .78); // This is color-primary in rgba form
      }
    }

    .icon-sync {
      .position(absolute, 35%, auto, auto, 12px);
      .animation(spin 2s infinite linear);
      color: @color-empty;
      font-size: 1.5em;
    }

    .icon-sync + .title-notification {
      padding-left: 40px;
    }

    .title-notification {
      .font-s3;
      .type-bold;
      display: block;
      line-height: 1rem;
      padding: 1rem .75rem;
    }

    .btn-primary {
      float: right;
      background: rgba(216,62,20, .85); // This is color-primary in rgba form
      height: 60px;
    }
  }
}

// Recent activity notifications
ul.notifications-listing {
    margin: 0;
    padding: 0 0 55px;
    li {
        position: relative;
        list-style: none;
        padding: 30px 15px;
        border-bottom: #eee solid 1px;
        a, .nt {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
        }
        .nt-user {
            width: 90px;
            flex-shrink: 0;
            img{
                .position(relative, 0, auto, auto, 15px, 55px, 55px);
                border-radius: 50%;
            }
        }
        .nt-info {
            .type-regular;
            .font-s3;
            flex-grow: 1;
            line-height: 20px;
            letter-spacing: 0;
            .nt-about {
              color: @color-well;
              margin-bottom: 10px;
            }
            .nt-inbox {
              color: @color-well;
              margin-bottom: 5px;
            }
            .nt-username {
              color: @color-well;
              vertical-align: middle;
              line-height: 57px;
            }
            .nt-desc {
              color: @color-medium-well;
              margin-bottom: 5px;
            }
            .nt-message {
              color: @color-medium-well;
              display: block;
              margin-bottom: 10px;
            }
        }
        .nt-right, .nt-action {
          flex-shrink: 0;
          img {
            .position(relative, 0, auto, auto, 16px, 64px, 64px);
          }
        }
        .nt-right {
          width: 95px;
        }
        .nt-share {
          width: 3rem;
        }
        .nt-action {
          width: 8.5rem;
        }
        button.follow{
          background: @color-empty;
          border: 1px solid @color-primary;
          color: @color-primary;
          width: 8.2rem;
          font-size: 0.9rem;
          padding: 8px 12px;
          border-radius: 18px;
          font-weight: 800;
          text-transform: uppercase;
          .type-black();
          &:before{
            content: '+';
            margin-right: 0.5rem;
          }
          &:hover{
            background: @color-primary;
            color: @color-empty;
          }
        }
        button.following{
          background: @color-primary;
          color: @color-empty;
          &:before{
            content: '';
          }
          &:hover{
            background: @color-full;
          }
        }
        .strong {
            font-weight: 700;
        }
        .nt-date {
          .font-s3-alt;
          color: @color-medium-well;
        }
    }
    li.share{
      padding: 10px 15px;
      .ion-checkmark-circled {
        color: #dadada;
        font-size: 2.2rem;
        vertical-align: middle;
        line-height: 57px;
        cursor: pointer;
      }
      .sharing{
        color: @color-primary;
      }
    }
}

.share-search{
  display: block;
  background: @color-empty;
  .position(relative, 77px, 0, 0, 0, 100%, 55px);
  padding: 0 60px;
  border-bottom: #eee solid 1px;
  .user-search{
    display: block;
    position: relative;
    width: 19rem;
    margin: 0 auto;
    .icon{
      display: inline-block;
      font-size: 2rem;
      line-height: 50px;
      vertical-align: middle;
      color: @color-rare;
    }
    input{
      display: inline-block;
      border: none;
      background: @color-empty;
      font-size: 1rem;
      padding: 0 10px;
      text-align: center;
      .position(static, auto, 0, 0, 0, 16rem, 40px);
    }
  }
}
